.bingo {
  clip-path: circle(0%);
  &.active {
    clip-path: circle(100%);
  }
}

@font-face {
  font-family: "Breve";
  src: url("/BreveDisplay.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
